/* Page.module.css */

.pageContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  /* background-image: url("/public/gif.gif");
  background-size: cover;
  background-repeat: no-repeat; */
  height: 100vh;
}

.contentRight {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
}

.contentLeft {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.contentContainer {
  /* display: flex;
  flex-direction: column; */
}

/* .buttonsContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
} */

.connectButtons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.actionButton {
  padding: 10px 20px;
  background-color: #30bbab;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  gap: 10px;
}

.actionButton:hover {
  background-color: #1b6c62;
}
